#mappify-controls {
    background : url("../images/background.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
    display : block;
    border-radius: 0px 6px 0px 0px;
    overflow : auto;
    z-index: 1000;
}

#mappify-map-section-bnts {
    z-index: 1001;
}

#mappify-map-section-bnts button{
    margin: 3px;
}

#mappify-facets {
    height: 150px;
    margin: 10px 15px 10px 10px;
}

#mappify-facet-values {
    height: 150px;
    margin: 10px 15px 10px 10px;
    border: none;
}

#mappify-facet-value-constraints {
    height: 150px;
    margin: 10px 15px 10px 10px;
}


/* FIXME: these are mostly hacks... */
#mappify-concepts-grid {
    margin: 10px 15px 10px 10px;
    height : 150px;
    position : relative;
}
#mappify-concepts-grid div {
    overflow : hidden;
    height: 90px;
}

.ngHeaderContainer {
    overflow: hidden !important;
}