#mappify-controls {
    background : url("../images/background.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
    display : block;
    border-radius: 0px 6px 0px 0px;
    overflow : auto;
    z-index: 1000;
}

#mappify-map-section-bnts {
    z-index: 1001;
}

#mappify-map-section-bnts button{
    margin: 3px;
}

#mappify-facets {
    height: 150px;
    margin: 10px;
}

#mappify-facet-values {
    height: 150px;
    margin: 10px;
    border: none;
}