#mappify-controls {
    background : url("../images/background.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
    display : block;
    border-radius: 0px 6px 0px 0px;
    overflow : auto;
    z-index: 1000;
}

#mappify-map-section-bnts {
    z-index: 1001;
}

#mappify-map-section-bnts button{
    margin: 3px;
}

#mappify-facets {
    margin: 10px 15px 10px 10px;
}

#mappify-facet-values {
    margin: 10px 15px 10px 10px;
    border: none;
}

#mappify-facet-value-constraints {
    margin: 10px 15px 10px 10px;
}

.grid-style {
    border: 1px solid rgb(212,212,212);
    height: 150px
}
#mappify-concepts-grid {
    margin: 10px 15px 10px 10px;
}

#mappify-concepts-grid-buttons {
    margin-top: 10px;
}

div#mappify-settings-controls .nav-tabs {
    background-color: transparent !important;
}

div#mappify-settings-controls .nav-tabs a {
    margin: 10px 2px 0px 10px;
    background-color: #EAEAEA !important;
}

div#mappify-settings-controls .mappify-deactivated-tab a {
    margin: 10px 2px 0px 10px;
    background-color: #EAEAEA !important;
}
