<div>

    <div id="mappify-map-section-bnts"
         style="position: absolute;
                top: {{controls.btnsLayout.top}};
                left: {{controls.btnsLayout.left}};
                height: {{controls.btnsLayout.height}};
                width: {{controls.btnsLayout.width}};">
        <button
                class="btn btn-default"
                ng-class="{'btn-success': controls.activeBtn == controls.initBtn.id}"
                ng-click="controls.toggleBtn(controls.initBtn.id)">set initial section</button>
        <button
                class="btn btn-default"
                ng-class="{'btn-success': controls.activeBtn == controls.maxBtn.id}"
                ng-click="controls.toggleBtn(controls.maxBtn.id)">set maximal section</button>
    </div>

    <div id="mappify-controls"
         style="position: absolute;
                top: {{controls.layout.top}};
                left: {{controls.layout.left}};
                height: {{controls.layout.height}};
                width: {{controls.layout.width}};
                display : block;
                border-radius: 0px 6px 0px 0px;
                overflow : auto;">
        <div class="scroll-body" slimscroll slimscroll-option="controls.slimScrollOptions">
            <div id="mappify-concepts-grid">
                <div ng-grid="controls.conceptGridOptions"></div>

                <div id="mappify-concepts-grid-buttons">
                    <button class="btn btn-info" ng-click="createConcept()">+
                    </button>
                    <button ng-click="deleteConcept()" ng-show="selectionMade()"
                            class="btn btn-info">-</button>
                </div>
            </div>
            <facet-tree
                    id="mappify-facets"
                    sparql-service="sparqlService"
                    facet-tree-config="facetTreeConfig"
                    select="selectFacet(path)"
                    plugins="facetTreePlugins"
                    plugin-context="facetTreePluginContext">
            </facet-tree>
            <facet-value-list
                    id="mappify-facet-values"
                    sparql-service="sparqlService"
                    facet-tree-config="facetTreeConfig"
                    path="path">
            </facet-value-list>
            <constraint-list
                    id="mappify-facet-value-constraints"
                    sparql-service="sparqlService"
                    facet-tree-config="facetTreeConfig">
            </constraint-list>
        </div>
    </div>
</div>