<div>
    <div id="mappify-map-section-bnts"
         style="position: absolute;
                top: {{btnsConf.top}};
                left: {{btnsConf.left}};
                height: {{btnsConf.height}};
                width: {{btnsConf.width}};">
        <button class="btn btn-default">set initial section</button>
        <button class="btn btn-default">set maximal section</button>
    </div>
    <div id="mappify-controls"
         style="position: absolute;
                top: {{controlsConf.top}};
                left: {{controlsConf.left}};
                height: {{controlsConf.height}};
                width: {{controlsConf.width}};
                display : block;
                border-radius: 0px 6px 0px 0px;
                overflow : auto;">
        controls
    </div>
</div>